@import url(https://fonts.googleapis.com/css?family=Sacramento);@charset "UTF-8";

body {
  background-color: #f4f7f8;
  font-family: "Yu Gothic", "\6E38\30B4\30B7\30C3\30AF", YuGothic, "\6E38\30B4\30B7\30C3\30AF\4F53";
}

.folder-button {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.navbar {
  margin: 0 0 2.5rem 0;
}

.my-navbar {
  -webkit-box-align: center;
          align-items: center;
  background: #333;
  display: -webkit-box;
  display: flex;
  height: 3rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #8c8c8c;
}

.my-navbar-brand:hover,
.my-navbar-brand:hover {
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.logout {
  display: none;
}

.label-form {
  margin-bottom: 0.5rem;
}

.check-form {
  margin-top: 0;
}

